<div class="header">
    <div class="row">
        <div class="col-5">
            <h1 class="ms-3" style="color:white;">My First Role based app</h1>
        </div>
        <div class="col-7" style="padding-top: 8px;">
            <button class="btn btn-danger" style="margin-left: 35%;" routerLink="aboutUs">About Us</button>
            <button class="btn btn-danger" style="margin-left: 2%;" routerLink="contact">Contact Us</button>
            <button class="btn btn-danger" style="margin-left: 2%;" routerLink="location">Location</button>
            <button class="btn btn-danger" style="margin-left: 2%;" routerLink="enquiry">Enquiry</button>
            <button class="btn btn-primary" style="margin-left: 2%;" routerLink="login">Login</button>
        </div>
    </div>
</div>
