<div class="container">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th> Custmer Id</th>
            <th> Full Name</th>
            <th> Mobile No.</th>
            <th> Email</th>
            <th> Loan Amount Sanctioned</th>
            <th> Rate of Interest(%)</th>
            <th> Loan Tenure(Years)</th>
            <th> Payment Mode</th>
            <th> Customer Status</th>
            <th> Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of custData">
            <td>{{c.customerId}}</td>
            <td>{{c.sanctionletter.applicantFirstName}}&nbsp;{{c.sanctionletter.applicantMiddleName}}&nbsp;{{c.sanctionletter.applicantLastName}}</td>
            <td>{{c.sanctionletter.mobileNo}}</td>
            <td>{{c.sanctionletter.email}}</td>
            <td>{{c.sanctionletter.loanAmtSanctioned}}</td>
            <td>{{c.sanctionletter.rateOfInterest}}</td>
            <td>{{c.sanctionletter.loanTenureInYears}}</td>
            <td>{{c.sanctionletter.modeOfPayment}}</td>
            <td>{{c.customerStatus}}</td>
            <td>
                <div class="col-md-4 m-0 p-0">
                    <input class="btn btn-warning" type="submit" mat-button (click)="openPopupForm(c.customerId)"
                    value="Generate PDF"></div> <!-- mat-button (click)="openPopupForm()" -->
            </td>
          </tr>
        </tbody>
      </table> 
</div>